@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');
ul {
  font-family: 'Cinzel Decorative', cursive;
    list-style-type: none;
    margin: 0;
    padding: 0;
      overflow: hidden;
      background-color: rgb(255, 255, 255) ;
}
li {
    float:unset
}
li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: rgb(0, 0, 0);  
  color: red
}
